.dashboard {
  padding: 20px;
}

/* Charts */

.charts-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* Responsive */

@media (max-width: 768px) {

  /* Cards */
  .stats-cards {
    flex-direction: column;
    /* max-width: 100%; */
    width: 90%;
  }

  .stats-left,
  .stats-right {
    width: 100%;
  }

  /* Charts */
  .charts-section {
    flex-direction: column;
    width: 90%;
  }

  .chart {
    width: 100%;
    /* max-width: 400px; */
    margin-bottom: 20px;
  }

  /* Table Recent Rides */
  .recent-rides {
    width: 90%;
  }
}